body {
    background-color: #C1D0B5;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF8DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
    background-color: #D6E8DB;
    border: none;
    font-size: 24px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #99A98F;
}
